*.o
*.a
*.exe
*.bin
*.bin.dump
*.BIN
*.elf
*.elf.syms

bin/
CHDK/DATA/logo.dat
CHDK/LUALIB/GEN/
lib/armutil/.o/
lib/core/.o/
lib/font/.o/
lib/font/font_8x16_uni_packed.h
lib/lang/.o/
lib/lang/lang_str.h
lib/libc/.o/
lib/lua/.o/
lib/math/.o/
lib/ubasic/.o/
modules/.o/
modules/exportlist.inc
modules/module_exportlist.h
modules/module_hashlist.c
revision.inc
bin_compat.h